[Unit]
Description=backend_api
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/node /root/node-app/server.js
Restart=on-failure

[Install]
WantedBy=multi-user.target